body{
    font-family: Arial, sans-serif;
    text-align:center;
    background:#f4f4f4;
}

.container{
    margin-top:50px;
}

input{
    padding:10px;
    width:250px;
}

button{
    padding:10px 15px;
    cursor:pointer;
}

#weatherResult{
    margin-top:20px;
    font-size:18px;
}
